__pycache__/*
.git/*
.DS_Store
scratch
*.pyc
*.png
output/*
server_output/*
src/cleverhans
src/pip-delete-this-directory.txt
nohup.out
sent_to_yarin/*
.vscode/
env/
*/.ipynb_checkpoints/*
.nfs*
overleaf-paper/*
